<html>
<head>
	<style>
		td, th {
			font-size:14px;
			text-align: center;			
  			vertical-align: top;
  			
		}
		table
		{
			border:1px solid #cccccc;
		}
		tr:nth-child(even) {background-color: #f2f2f2;}
		th {
  				background-color: #4CAF50;
  				color: white;
			}
		.dataset
		{
			
		}
		.label
		{
			font-weight:bold;

		}
		span
		{
			margin:10px;
			font-size:20px;
		}
	</style>	
</head>
	

	{% for user in data %}
		<div class='dataset'>
			<span class="label">User ID: </span>
			<span>{{ user.id }}</span>
		</div>
		<div class='dataset'>
			<span  class="label">Username:</span>
			<span>{{ user.username }}</span>
		</div>
		<div class='dataset'>
			<span  class="label">First Name:</span>
			<span>{{ user.first_name }}</span>
		</div>
		<div class='dataset'>
			<span  class="label">Last Name:</span>
			<span>{{ user.last_name }}</span>
		</div>

	    
	{% endfor %}
	</body>
</html>
